n# Dependency directories
node_modules/

# Build output
dist/

# System files
.DS_Store

# Environment variables
.env

# Editor directories and files
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*

# Ignore compressed files
*.tar.gz

# Ignore all files in server/public except .gitkeep
server/public/*
!server/public/.gitkeep

# Vite config backups
vite.config.ts.*